

<h2> Create a New Collection </h2>


<form method="post" action="/collections">

  <h4>Name/Category (e.g. "Skincare", "Rx", "Makeup"): <input type="text" name="name"></h4>
  <br>
  <input type="submit" name="submit">

</form>