

<h2> Create a New Collection </h2>


<form method="post" action="/collections">

  <h4>Name/Category (e.g. "AM Routine", "All Prescriptions", "Skincare"): <input type="text" name="name"></h4>
  <br>
  <input type="submit" name="submit">


  <h3><a href="/collections"> Cancel </a></h3>
</form>