

<h3>Create Profile:</h3>


<form method="post" action="/users/new">

  <h4>Username: <input type="text" name="name"></h4>
  <br>
  <h4>Password: <input type="text" name="password"></h4>
  <br>
  <input type="submit" name="submit">

</form>