

<br>

Welcome, <%= current_user.username %>!

You currently have <%= current_user.collections.count %> collections.


<h3><a href="/collections/new"> Create a New Collection </a></h3>

<h3><a href="/collections"> See All Collections </a></h3>

<h3><a href="/products"> See All Products </a></h3>



