

<br>
<h4><a href="/login"> Already signed up? Login here! </a></h4>
<br>

<h3>Sign Up:</h3>
<form method="post" action="/signup">

  <h4>Create Username: <input type="text" name="username"></input></h4>
  <h4>Create Password: <input type="text" name="password"></input></h4>
  
  <input type="submit" name="submit"></input>

</form>

