


<h3>Sign Up:</h3>


<form method="post" action="/signup">

  <h3>Create Username: <input type="text" name="username"></input></h3>
  <h3>Create Password: <input type="text" name="password"></input></h3>
  
  <input type="submit" value="submit"></input>

</form>

