

Sign up below:
<br>
<br>
<form action="/registrations" method="post">
  Username: <input type="text" name="username"><br>
  Password: <input type="text" name="password">
  <input type="submit">
</form>