



<h2> Add a New Product: </h2>


<form method="post" action="/products">

  <h4>Name: <input type="text" name="name"></h4>
  <h4>Brand: <input type="text" name="brand"></h4>
  <h4>Description: <input type="text" name="description"></h4>
  <input type="submit" name="submit">

</form>